.asso-grid {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    border: solid 1px #17002c;
    color: #fff;
}

.asso-card{
    width: 100%;
    height: 90%;
}

.asso-title{
    font-weight: 1000;
}

.assos-sub{
    font-weight: 350;
}