.asso-grid {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    color: #fff;
}

.asso-card{
    width: 100%;
    height: 92%;
    background-size: cover;

}

.asso-image{
    width: 100%;
}


.asso-title{
    font-weight: 1000;
}

.assos-sub{
    font-weight: 350;
}