.asso-card {
    width: 160px;
    flex: 200px;
    margin: 0.5em;
    padding: 0.5em;
}

.asso-image-size {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
}

.assos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}