.date-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 500
}

.info {
    padding: 5px;
}

.full-screen {
    height: 100%;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
}

.ion-content-scroll {
    height: 100%;
    overflow-y: auto;
}