.date-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: 500
}

.info {
    padding: 5px;
}