/* NetworkCheck.css */
.no-connection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.no-connection-icon {
    font-size: 100px;
    color: red;
    margin-bottom: 50%;
}
